body{
	background-image: url('../images/02.jpg');
	background-repeat: no-repeat;
	background-position: 150px 0;	
}
	
.rich-messages-marker img {
	padding-right: 7px;
}

.top {
	vertical-align: top;
}

rich-message-label{
 padding: 0px 10px;
}
 
.rich-messages-label{
 padding: 0px 10px
} 
 
.rich-message-marker{
}
 
.rich-message{
}
 
.errorLabel{
 color: red;
}
 

.infoLabel{
 color: green;
}